.fit {
	width: 100%;
	height: auto;
}
@media screen and (max-width: 736px) {
	.fit {
		width: 30vw;
		height: auto;
	}
}

a {
	color: #c26666;
}
a:hover {
	text-decoration: none;
}

/* Icons */
	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 1em 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

		@media screen and (max-width: 736px) {

			ul.icons li {
				padding: 0 0.75em 0 0;
			}

		}

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.alt:before {
			background-color: #c26666;
			border-radius: 100%;
			color: #ffffff;
			display: inline-block;
			height: 2em;
			line-height: 2em;
			text-align: center;
			width: 2em;
		}

.description > li {
	margin: 0;
	font-size: 80%;
	line-height: 1.75;
}